html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  box-sizing: border-box;
}

.container-board {
  border: 3px solid lightgray;
}

.header {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
}

.content {
  padding: 35px;
  background-color: #14bdac;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board {
  width: 300px;
  height: 300px;
  table-layout: fixed;
}
td {
  height: 100px;
}
.clickable {
  display: block;
  width: 100%;
  height: 100%;
}
.top-cell {
  border-bottom: 5px solid gray;
}

.middle-cell {
  border-bottom: 5px solid gray;
}

#cell-2 {
  border-left: 5px solid gray;
  border-right: 5px solid gray;
}

#cell-5 {
  
  border-left: 5px solid gray;
  border-right: 5px solid gray;
}
#cell-8 {

  border-left: 5px solid gray;
  border-right: 5px solid gray;
}
